.ScrollbarsCustom {
	& > .ScrollbarsCustom-Wrapper {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.ScrollbarsCustom-Track {
		position: absolute;
		border-radius: 1.5625rem;
	}

	.ScrollbarsCustom-Thumb {
		background: #ebe984;
		border-radius: 1.5625rem;
		transition: 200ms width cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&.dragging {
			width: 0.3125rem;
			background: #fffec5;
		}
	}

	.ScrollbarsCustom-ThumbY {
		width: 100%;
	}

	.ScrollbarsCustom-ThumbX {
		height: 100%;
	}

	.ScrollbarsCustom-TrackY {
		width: 0.1875rem;
		height: 100%;
		top: 0;
		right: -0.5575rem;
		background: transparent;
		transition: 200ms right cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			right: -0.495rem;
		}
	}

	.ScrollbarsCustom-TrackX {
		height: 0.1875rem;
		width: 100%;
		bottom: -0.5575rem;
		left: 0;
		background: transparent;
	}
}

.room, .donates {
	.ScrollbarsCustom-TrackY {
		right: 0.25rem;
	
		&:hover,
		&.dragging {
			width: 0.1875rem;
			right: 0.25rem;
		}
	}

	.ScrollbarsCustom-Thumb {
		&:hover,
		&.dragging {
			width: initial;
			background: #fffec5;
		}
	}
}