.quill {
	color: #FFF;
	height: 100%;
	width: 100%;

	.ql-toolbar {
		height: 9%;
		border: none;
		border-bottom: 5px solid #181818;

		.ql-picker-options {
			background-color: transparent;
			width: 153px;
		}
	}

	.ql-container {
		border: none;
		height: 91%;

		.ql-editor {
			outline: none;
		}
	}
}

.story .quill {
	.ql-toolbar {
		height: 5.5%;
		border: none;
		border-bottom: 5px solid #C34375;
	}

	.ql-container {
		height: 94.5%;
		border: none;
	}
}