.scroll {
	max-height: 100vh;
}
.simplebar-scrollbar.simplebar-visible::before {
	opacity: 100;
}
.simplebar-scrollbar::before {
	border-radius: 1.5625rem;
	background: #323232;
	opacity: 100;
	transition: none;
}